# Binaries
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Generated attefacts
output/

# Go workspace file
go.work
go.work.sum
default.nix

# Nix build result
result

# Project documentation
GOAL.md

# pre-commit files
.pre-commit-config.yaml
