# Binaries
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Generated bundle
tpm-ca-certificates.pem
checksums.txt
checksums.txt.sigstore.json

# Go workspace file
go.work
go.work.sum
default.nix
